* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, Monaco, monospace;
    font-size: 15.8px;
    line-height: 1.3;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* TERMINAL */
.terminal {
    min-height: 100vh;
    min-width: 90vw;
    background-color: black;
    border: 3px solid #00ff00;
    box-shadow: 0 0 15px #00ff00;
    border-radius: 10px;
    overflow: hidden;
}

/* HEADER TERMINAL */
.terminal-header {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 8px 15px;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 5px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red {
    background-color: #ff5f57;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #28c840;
}

.terminal-title {
    color: #00ff00;
    margin-left: auto;
}

/* BODY TERMINAL */
.terminal-body {
    padding: 20px 20px 5px 20px;
    color: #00ff00;
}

/* TEKS STYLING */
.ascii pre {
    font-size: 13px;
    line-height: 1.2;
    margin-left: -85px;
    margin-bottom: -10px;
}

.command {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.command-box {
    border: 1px solid rgb(75, 75, 75);
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(0, 255, 0, 0.1);
}

/* LIST STYLING */
.list li {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 0;
}

.list li::before {
    content: "→";
    color: #00ff00;
    margin-right: 8px;
}

.list li:hover {
    animation: moveText 0.3s ease-in-out infinite alternate;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
    }
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* KURSOR BERKEDIP */
.cursor {
    font-weight: bold;
    animation: blink 1.8s infinite;
    position: relative;
    top: 1px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}